#root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #282c34;
  width: 100%;
  margin-inline: 0;
}

h1 {
  position: fixed;
  margin: 3.5rem;
  font-weight: 100;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color:lightsteelblue;
}

.App {
  text-align: center;
  max-width: 44rem;
  min-width: 15rem;

  margin: 0rem auto;

}

.App header {
  background-color: #171616;
  height: 4rem;
  color: white; 
  position: fixed;
  width: 100%;
  max-width: 44rem;
  top: 0;
  display: flex;
  align-items: center;  
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
}


.App header img {
  width: 2.5rem;
  filter: invert(60%) ;

}


.App section {
  background-color: rgb(40, 37, 53);
  display: flex;
  max-width: 44rem;
  min-width: 2rem;
  min-height: 38rem;
  flex-direction: column;
  justify-content: start;
  overflow: initial;
  margin: 4rem 0px 2.5rem 0px;

}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 2.5rem;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 44rem;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 6rem;
  height: 3rem;
  background-color: rgb(56, 56, 143);
}


textarea {
  line-height: 1.5;
  width: 100%;
  font-size: 1rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  resize: none;
  overflow:hidden
}

button {
  background-color: #282c34; /* Green */
  border: none;
  border-radius: 0.5rem;
  color: white;
  /* padding: 0.8rem 1.5rem; */
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25rem;
  max-width: fit-content;
  margin: auto;
}


button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  position: relative;
  color: white;
  background: #171616;
  max-width: 400px;
  margin: 15 auto;
}


.sign-out {
  margin-right: 0rem ;
  
}

.send-button {
  border-radius: 0;
  margin: auto;
  padding: 0.6rem 1rem;
}

ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
  word-wrap:break-word;

}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
}
.received p {
  background: #4f4f4f;
  color: rgb(225, 225, 225);
}

.pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

@media (max-width: 17.5rem) {
  h1 {
    display: none;
  }
}
